<div class="modal-header">
  <h4 class="modal-title">Add new {{ uploadType }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row mt-3 text-light">
    <div class="col-md-12">
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload file </label>
        <input
          (change)="this.onFilechange($event)"
          class="form-control"
          type="file"
          id="formFile"
        />
      </div>
      <div class="row g-3 align-items-center mb-3" *ngIf="showURL">
        <div class="col-3 text-dark">
          <label for="url" class="col-form-label">URL</label>
        </div>
        <div class="col-9">
          <input
            type="text"
            [formControl]="urlControl"
            class="form-control"
            aria-describedby="passwordHelpInline"
          />
        </div>
      </div>
      <div class="error">
        <span *ngFor="let err of errors">{{ err }}</span>
      </div>
      <button
        (click)="this.upload()"
        type="button"
        class="btn btn-primary mt-3 d-flex justify-content-end"
        [disabled]="!shouldEnable()"
      >
        Upload
      </button>
    </div>
  </div>
</div>
